$theme-color: #eb4a62;
$theme-hover: #008800;
$site-font: 'Poppins-Regular';
$site-color: #000;
$heading-font: 'Poppins-Bold';
$btn-font: 'Poppins-SemiBold';
$heading-light-font: 'Poppins-SemiBold';
$light-font: 'Poppins-SemiBold';
$thin-font: 'Poppins-Light'; 
$primary-bg: #fff;
$secondary-bg: #262626;
$primary-hover: #f5f5f5;
$secondary-hover: #000;
$border-color: #E0E0E0;
$heading-color: #262626;
$footer-bg: #262626;
$content-bg: #F8F8F8;
$dots: #e0e0e0;
$gray-bg: #f5f5f5;
$gray-color: #757575;
$label-color: #757575;
$sold-bg: #757575;
$dark-bg: #262626;
$error-color: #f00;
$panel-bg: #f9f9f9;
$light-bg: #f7f7f7;
$font-light-color: #757575;
$dark-gray: #dedddd;
$help-color: #2f787d;
$menu-bg: #fff;
$menu-active-bg: #f5f5f5;
$driver-theme: #11939A;
$driver-theme-hover: #0E7D83;